* {
    padding: 0;
    box-sizing:border-box;
    margin: 0px;
    text-decoration: none;  
    color: white; 
    }
    
    .viewMovieDetails{
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        padding: 5px 0;
        background: var(--background-color);
        color: var(--text-color);
    }
    
    .viewMovieDetails .poster_img {
        justify-content:space-around;
        max-width: 80%;
        max-height: 70% ;
        padding-left: 80px;
    }

    .viewMovieDetails .movieBox{
        max-width: 600px;
        min-width: 290px;
    }
    
    .movieBox .movieTitle{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        margin-left: 0;   
        margin-bottom: 15px;
    }
    
    .movieBox .movieTitle h2{
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .movieBox .movieTitle span{
        color:crimson;
        padding-left: 200px;
        margin-top: 5px;
        font-size: 18px;
    }
    
    .movieBox p{
        line-height: 1.5;
        margin: 5px 0;
    }
    
    .cart{
        background: var(--primary-color);
        border: 0.25vmin solid var(--primary-color);
        color: var(--text-color);
        border-radius: 0.5vmin;
        outline: none;
        font-weight: bold;
        cursor: pointer;
        padding:10px;
        margin-top: 15px;
        text-align: center;
        text-decoration: none;
    }

    .addCart {
        text-align: center ;
        padding-bottom: 30px;
        position: relative;
    }
    
    .release_status{
        text-align: left;
        font-size: 10px;
        display: block;
    }
    
    .release_status .lang  {
        font-size: 12px;
        padding:2px;
        background-color:darkgrey;
        color:white;
        border-radius: 5px;
        margin-left:10px ;
    }
    
    .ratings{
        text-align:left;
        display: flex;
    }   
    
    .ratings .lang{
        margin-left: 5px;
        margin-bottom: 15px;
    }
    
    .ratings .rating_value{
        font-size: 22px;
        margin-left: 10px;
        font-weight: bold;
    }
    
    .ratings .vote_counts{
        font-size: 10px;
    }
    
    .runtime{
        text-align: left;
        display: flex;
    }
    
    
    .classGenres {
        font-size: 12px;
        justify-content: space-around;
        padding: 5px;
        border:1px solid;
        border-radius: 1rem;
    }
    .genres {
        padding-left: 60px;
        display: inline-flex;
        text-align: right;
        
    }
    
    .overview{
        padding-top: 5px;
        text-align: left;
    }
    
    .overview p{
        padding-top: 2px;
        text-align: justify;
        padding-left: 5px;
        font-size: 14px;
    }
    
    
    .technicalInfo {
        padding-top: 5px;
        text-align: left;
    }
    
    .technicalInfo > div{
        font-size: 12px;
        padding-top: 2px;
        padding-left: 5px;
    }


    .technicalInfo .homepage{
        width: fit-content;
        border-radius: 1px;
        cursor: pointer;
    }

    .technicalInfo .homepage a{
        color: white;
        background:blue;
        text-decoration: unset;
        font-weight: bold;
        padding: 2px 2px 2px 2px;
    }

    .technicalInfo input{
        display: none;
        visibility: hidden;
    }

    .technicalInfo .chkBtn{
        display: inline-block;
        padding:10px;
        background-color: white;
        color:teal;
        font-weight: bold;
        width: fit-content;
        height: fit-content;
    }

    .technicalInfo .chkBtn::after{
        content: '\2795';
        size:10px;
    }

    .technicalInfo .technicalContent{
    height:0;
    overflow: hidden;
    transition: .5s;
    }

    #chk:checked ~ .technicalContent{
        height: fit-content;
    }

    #chk:checked ~ .chkBtn::after{
        content: '\2796';
        size:10px;
    }

    .production-companies {
        padding-top: 20px;
    }
    .production-companies >h4 {
        
        padding-top: 5px;
    }
    .production-companies >p {
        padding-top: 2px;
    }

    .ratingsComments{
        margin-top: 50px;
        position: absolute;
        width: fit-content;
        height: fit-content;
    }
    /*.movieBox .addCart{
        margin: 2vmin;
        padding: 1vmin 2vmin;
        background: var(--primary-color);
        border: 0.25vmin solid var(--primary-color);
        color: var(--text-color);
        border-radius: 0.5vmin;
        font-size: calc(10px + 1.25vmin);
        text-decoration: none;
        cursor: pointer;
        width: fit-content;
    }*/
    
    
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        .viewMovieDetails{
            display:flexbox;
            justify-content: space-between;
            margin-left: 0;
            margin-top: 5px;
         
        
        }
        .viewMovieDetails .poster_img {    
            object-fit: contain; 
            padding-left: 0;
            width: 200px;
            height:auto;
        }

        .viewMovieDetails .movieBox{
            max-width: 100%;
            min-width: 290px;
            padding-left: 5px;
            
        }
      }
    
      @media screen and (min-width: 992px) {
          .viewMovieDetails{
              display:grid;
              grid-template-columns: repeat(2,1fr);
              grid-gap: 1.5rem;
          }
      }