.Cart {

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--background-color);
  color: var(--text-color);

}

/* Header */
.Cart header {

  display: flex;
  align-items: center;

  margin: 2vmin;

}

.Cart header h1 {

  margin: 0px;
  padding: 0px;

}

/* Main */
.Cart main {

  margin: 2vmin;

}

.Cart .MovieItem {

  display: flex;
  align-items: center;

  height: 10vh;
  margin-top: 0.2vmin;
  margin-bottom: 0.2vmin;

}

.Cart .MovieItem .RemoveButton {

  width: 4vh;
  height: 4vh;

}

.Cart .MovieItem .RemoveButton:hover {

  opacity: 0.75;

}

.Cart .MovieItemInfo {

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

}

.Cart .MovieItemInfo div {

  display: flex;
  align-items: center;

}

.Cart .MovieItemInfo div img {

  width: 10vh;
  height: 10vh;
  margin-right: 1.25vmin;

  object-fit: contain;

}

.Cart .MovieItemInfo div .MovieTitle {

  color: var(--primary-color);
  font-size: calc(10px + 1.25vmin);
  font-weight: normal;

}

.Cart .MovieItemInfo .MoviePrice {

  font-size: calc(10px + 1vmin);
  font-weight: bolder;

}

/* Footer */
.Cart footer {

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2vmin;

}

.Cart footer h2 {

  margin: 0px;
  padding: 0px;

  text-align: center;

}

.Cart footer button {

  margin: 2vmin;
  padding: 1vmin 2vmin;

  background: var(--primary-color);
  border: 0.25vmin solid var(--primary-color);
  color: var(--text-color);
  border-radius: 0.5vmin;
  font-size: calc(10px + 1.25vmin);
  text-decoration: none;
  cursor: pointer;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

.Cart footer button:hover {

  background: var(--primarydark-color);
  border: 0.25vmin solid var(--primarydark-color);
  box-shadow: 0.25vh 0.5vh 1vh #191919;

}

/* Empty */
.Cart-empty {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

}

.Cart-empty .CartImage {

  width: 12.5vh;
  height: 12.5vh;

  object-fit: contain;

}

.Cart-empty .CartTitle {

  margin-top: 2vmin;

  color: var(--primary-color);
  font-size: calc(10px + 1.5vmin);
  font-weight: bold;

}

.Cart-empty .CartText {

  margin-top: 0vmin;

  font-size: calc(10px + 1vmin);

}

.Cart-empty .CartButton {

  margin-top: 2vmin;
  padding: 1vmin 2vmin;

  background: var(--primary-color);
  border: 0.25vmin solid var(--primary-color);
  color: var(--text-color);
  border-radius: 0.5vmin;
  font-size: calc(10px + 1vmin);
  text-decoration: none;
  cursor: pointer;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

.Cart-empty .CartButton:hover {

  background: var(--primarydark-color);
  border: 0.25vmin solid var(--primarydark-color);
  box-shadow: 0.25vh 0.5vh 1vh #191919;

}
