.Container{

  padding-bottom: 8vh;

  background: var(--background-color);
  color: var(--text-color);
}

.Container .SavedMovies .EditButton {

  width: 4vh;
  height: 4vh;
  margin: 0;
  padding: 0.5vmin;

  border: 0.1vmin solid var(--text-color);
  border-radius: 0.5vmin;

}

.Container .MovieItems{

  display: flex;
  flex-direction: column wrap;
  align-items: center;
  flex-wrap: wrap;

}

.Container .MovieItems div img {

  width: 22.5vmin;
  height: 25vmin;
  object-fit: contain;

}

.Container .MoviePoster .MovieTitle {

  width: calc(22.5vmin);
  color: var(--primary-color);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

}

.Container .MovieItems .RemoveFavourites img {

  width: 2vh;
  height: 2vh;
  cursor: pointer;

  margin-bottom: 25vmin;

}

.Container .MovieContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: calc(22.5vmin + 2vh);
  margin: 1vmin 2vmin;

}

.Container .MoviePoster {

  display: flex;
  flex-direction: column;
  align-items: center;

}

.Container .SavedMovies {

  text-align: left;
  margin: 2vmin;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

}

.Container .SavedMovies img {

  width: 4vh;
  height: 3vh;
  border: 1px solid var(--text-color);
  border-radius: 0vmin 0.5vmin 0.5vmin 0vmin;
  cursor: pointer;

}
