.Container{
    background: black;
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.Container .MoviePoster{
    
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  margin-top: 0.2vmin;
  margin-bottom: 0.2vmin;
}


    

.Container .MoviePoster div {

    display: flex;
    align-items: center;
  
  }
  
  .Container .MoviePoster div img {
  
    width: 20vh;
    height: 20vh;
    margin-right: 1.00vmin;
    object-fit: contain;
  
  }