/*1*/
.container { 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -60px;
    width: 100vh;
    height: 100%;
    background: pink;
}

/*2*/
.genre-movie-container { 
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 20px;
}

/*3*/
.content-row-genre-item {
    height: 250px;
    min-width: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

/*3.1*/
.content-row-genre-item-title {
    width: fit-content;
    display: flex;
}

/*3.2*/
.content-row-genre-item-movie {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
}

/*4*/
/*.block-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}*/

/*
.content-row-container {
    display: flex;
}*/

.genre-title {
    display: flex;
    width: 100px;
    /*margin: 20px 0 10px;*/
    color: white;
    font-size: 30px;
}

.poster-img {
    border-radius: 5px;
    margin-right: 5px;
    width: 30%;
    height: 100%;
}