body {
  
  background: var(--background-color);

}

*link p{
  text-decoration: none;
}

/*1*/
.movie-list-container {
  display: flex;
    width: 95%;
    flex-direction: column;
    margin: 20px;
}
