
.App main { 
  
}

.App footer {

  height: 7.5vh;

}

body {
  background: #151515;
}

link {
  background: turquoise;


}
/*1*/
.movie-list-container {
  display: flex;
    width: 95%;
    flex-direction: column;
    margin: 20px;
}